@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --color-strong-cyan: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);

  --font-sans: "Bai Jamjuree", sans-serif;
}

@layer base {
  body {
    background-image: url("../img/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  h3 {
    @apply mb-8 text-4xl font-bold text-dark-grayish-blue md:text-5xl;
  }

  h5 {
    @apply mb-2 text-2xl font-bold text-dark-grayish-blue;
  }

  /* Your media query works perfectly here for the body tag */
  @media (max-width: 576px) {
    body {
      background-image: url("../img/bg-header-mobile.png");
    }
  }
}

@layer components {
  .section-container {
    @apply max-w-6xl mx-auto text-center px-10;
  }
  .button-container {
    @apply flex flex-col justify-center space-y-4  text-white md:flex-row md:space-y-0 md:space-x-4;
  }
  .section-content {
    @apply max-w-3xl mx-auto text-xl leading-9 text-center text-grayish-blue;
  }
  .ficon:hover {
    filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
      brightness(101%) contrast(94%);
  }
}
